* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #333;
  background: #000000;
  margin: 20px;

}

.header {
  background-color: #000000;
  color: #fff;
  min-height: 200px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: white;

}
